# Design
*.sketch
# Client
client/src/secrets.json
client/node_modules
client/.svelte-kit
client/static
client/build
client/src/data.json
client/dist
# Server
server/.env
server/node_modules
server/secrets.yml
server/layers/ffmpeg/layer/**
server/layers/ffmpeg/.serverless